@import "./character-header.css";
@import "./armor-sheet.css";
@import "./attack-sheet.css";
@import "./system-styles.css";
@import "./monster-sheet.css";
@import "./tab-background.css";
@import "./tab-inventory.css";
@import "./tab-skills.css";
@import "./monster-skill-tab.css";
@import "./loot-sheet.css";
@import "./profession-sheet.css";
@import "./race-sheet.css";
@import "./crit-wounds-table.css";
@import "./item-sheets.css";
@import "./substances.css";
@import "./weapon-roll.css";
/*
@font-face {
    font-family: 'Minion_Pro_Medium';
    src: url('./fonts/Minion_Pro_Medium.otf');

    font-family: 'Thewitcher';
    src: url('./fonts/thewitcher2.ttf');

    font-family:'Kingthings_Petrock';
    src:url('./fonts/Kingthings_Petrock.ttf');
}

.regular-style {
    font-family: Minion_Pro_Medium;
}

.witcher-style {
    font-family: Thewitcher;
}

.medieval-style{
    font-family: Kingthings_Petrock;
}